node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
ai-backend/venv
ai-backend/venv/*
ai-backend/venv/**
ai-backend/venv/**/**
ai-backend/venv/**/**/**
ai-backend/venv/**/**/**/**
node_modules
__pycache__

*.DS_Store
package-lock.json
attached_assets/